* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #212121;
    color: white;
    font-family: system-ui;
}

ul {
    list-style-type: none;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.header {
    padding: 20px 0;
}

@keyframes logo {
    0% {
        width: 100%;
    }

    10% {
        width: 0%;
    }

    20% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

.logo {
    text-transform: uppercase;
    position: relative;
    animation-name: logo;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.logo::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: white;
    width: 90%;
}

.portfolio-react,
.portfolio-all {
    display: none;
}

.portfolio__item {
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.portfolio__item:not(:last-child) {
    margin-bottom: 20px;
}

.portfolio__title {
    margin-bottom: 30px;
}

.portfolio__link-box:nth-last-child(2) {
    margin-bottom: 20px;
}

.portfolio__title,
.portfolio__git {
    text-transform: uppercase;
}

.portfolio__git-link {
    color: white;
    transition: 0.2s;
    word-break: break-all;
}

.portfolio__git-link:hover {
    color: #737373;
}

.portfolio__button {
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    border: 1px solid;
    font-size: 20px;
    border-radius: 5px;
    font-family: system-ui;
    cursor: pointer;
    transition: 0.25s;
    margin-bottom: 10px;
}

.portfolio__button:hover {
    background-color: #303030;
}

.portfolio__technology {
    text-transform: uppercase;
}

.portfolio__technologies {
    /* display: none; */
    transform: scale(0);
    transition: 0.5s;
}

.portfolio__technologies-active {
    transform: scale(1)
}

.footer {
    padding: 20px 0;
}

.footer__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.links {
    display: flex;
    justify-content: center;
}

.link {
    width: 50px;
    height: 50px;
}

.link:first-child {
    margin-right: 10px;
}

.link img {
    width: 100%;
    height: 100%;
    display: block;
}

.navigations__list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navigations__list-item {
    padding: 15px 20px;
    border: 1px solid;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.navigations__list-item:hover {
    background-color: #333333;
}

.navigations__list-item:not(:last-child) {
    margin-right: 20px;
}

.navigations__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

@media(max-width: 1200px) {
    .container {
        width: 800px;
    }

    .logo::after {
        width: 80%;
    }
}

@media(max-width: 800px) {
    .container {
        width: 400px;
    }

    .logo::after {
        width: 70%;
    }

    .portfolio__left {
        margin-right: 10px;
    }

    .portfolio__title {
        font-size: 20px;
    }

    .portfolio__git {
        font-size: 15px;
    }

    .portfolio__git-link {
        font-size: 13px;
    }

    .portfolio__button {
        font-size: 15px;
    }

    .portfolio__technology {
        font-size: 13px;
    }

    .navigations__list-item {
        padding: 10px 20px;
    }
}

@media(max-width: 400px) {
    .container {
        width: 300px;
    }

    .logo::after {
        width: 70%;
    }

    .navigations__list-item {
        min-width: 140px;
    }
}